.commands{
    max-height: 400px;
    backdrop-filter: blur(2px); 
    background-color: #161616d8;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
    border: .1px solid orange;
}